.pet-regis{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    width: 500px;
}
.tittle-regispet{
    grid-column: 1/-1;
}
.img-regispet{
    grid-column: 1/-1;
}
.name-regispet{
    grid-column: 1/-1;
    width: 300px;
}
.btn-regispet{
    grid-column: 1/-1;
}