.pet-card{
    background-color: #4E596A;
    display: grid;
    min-height: 300px;
    min-width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-style: inset;
}
.pet-card:hover{
    border-style: outset;
    background-color: #10438f;
    box-shadow: 0 0 7px 5px;
    cursor: pointer;
}
.img-pet-card{
    width: 35px;
    height: 75px;
    background-color: #fff;
    justify-content: center;
}